body{
background-color: rgb(116, 113, 113);
}
.navbar{
    background-color: black;
    width:100%;
    height: 30px;
    margin: top 0;
}
.navbar ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    color: white;
    margin-top: 5px;

}
.back div{
    margin: 10px 100px;
    border:1px solid;
    border-radius: 10px;
    height: 200px;
    width:1300px;
    background-image: url("task 6 photo/1.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  
}
.back h2{
margin-top: 30px;
text-align: center;
size: 100px;
}
.pro{
    margin-top:15px;
    
    border:1px solid;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    height: 300px;
    width: 300px;
}
.pro p{
    margin-top: 10px;
    color: white;
}
.pro img {
    width: 82%;
}
.pro a{
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 2px;
    margin-left: 110PX;
    margin-bottom: 3px;
    border-radius: 30px;
    background-color: white;
   text-align:center;
   border: 2px solid;
   HEIGHT:30PX;
   WIDTH:80px;
  
}
.pro1{
    margin-left: 20px;
    height: 280px;
}
.pro2{
    margin-left: 420px;
    height:320px;
}
.pro3 img{
    width:90%
}
.pro3{
    margin-left: 830px;
    height:270px;
}
.pro4{
    margin-left: 1200px;
    height:280px;
}
.footer{
background-color: black;
height: 50px;
text-align: center;
}
.footer p{
    display: block;
    color: white;
    
    padding-top:10px ;
}
